@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*
{
    font-family: 'Lato', sans-serif;
}

nav
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}
form
{
    position: relative;
}

.form-group input
{
    background-color: #E7E7E7;
    color: rgba(0, 0, 0, .25);
    border-radius: 5px;
    border: none;
    padding: 30px;
    font-weight: 400;
    font-size: 18px;
}

form .search-icon
{
    position: absolute;
    right: 14px;
    top: 17px;
    color: #000;
    font-size: 28px;
}

.card
{
    border: none;
    max-height: 500px;
    min-width: 300px;
}

.card-img-bg
{
    background-color: #C7BEBE;
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.card small
{
    line-height: 1.1;
}

.card-body
{
    background-color: #E7E7E7;
    border-radius: 0 0 5px 5px;
    height: 230px;
}

.search-by-tag::placeholder
{
    color: white;
}

.text-truncate.text-truncate--2
{
    display: -webkit-box !important;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    white-space: normal;
}

/* Selectbox --------------------------------*/
.select-box
{
    position: relative;

    display: flex;
    width: 400px;
    flex-direction: column;
}

.select-box .options-container
{
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected
{
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
}

.selected::after
{
    font-family: "Font Awesome 5 Free";
    content: '\f078';
    font-weight: 900;

    position: absolute;
    right: 10px;

    transition: all .4s;
}

.select-box .options-container.active
{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;

    margin-top: 54px;
}

.ingredients-search-input.active input::placeholder,
.devices-search-input.active input::placeholder,
.utensils-search-input.active input::placeholder
{
    transition: .3s;
    color: rgba(255, 255, 255, .75);
}

.select-box .options-container.active + .selected::after
{
    transform: rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar
{
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb
{
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected
{
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover
{
    background: #414b57;
}

.select-box label
{
    cursor: pointer;
}

.select-box .option .radio
{
    display: none;
}

.search-box input
{
    width: 100%;
    padding: 12px 16px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #2f3640;

    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus
{
    outline: none;
}

.select-box .options-container.active ~ .search-box input
{
    opacity: 1;
    pointer-events: auto;
}

/* Chips */

.chip 
{
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: max-content;
}

.ingredients-chip 
{
    background-color: #3282F7;
}

.devices-chip 
{
    background-color: #68D9A4;
}

.utensils-chip 
{
    background-color: #ED6454;
}


/* Bootstrap dropdown */
.dropdown-menu.show
{
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
}

.dropdown-item
{
    color: white;
}

/* Dropdown with search bar */

.wrapper
{
    /* max-width: 250px; */
    /* width: max-content; */
    margin-top: 30px;
}

.wrapper .search-input
{
    position: relative;
    background: #fff;
    min-width: max-content;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .12);
}

.search-input input
{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
    color: #fff;
}

.search-input input::placeholder
{
    color: #fff;
    /* color: rgba(255, 255, 255, .5); */
}

.ingredients-search-input input
{
    background-color: #3282F7;
}

.devices-search-input input
{
    background-color: #68D9A4;
}

.utensils-search-input input
{
    background-color: #ED6454;
}

/* .search-input.active #search-input-ingredients
{
    color: rgba(255, 255, 255, .5);
} */

.search-input .icon 
{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.search-input .autocom-box
{
    padding: 0;
    /* max-height: 280px; */
    max-height: 900px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    border-radius: 0 0 5px 5px;
}

.search-input.active .autocom-box
{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;

 
    width: 600px;
    max-height: 400px;
}
.ingredients-search-input.active .autocom-box
{
    background-color: #3282F7;
}
.devices-search-input.active .autocom-box
{
    background-color: #68D9A4;
}
.utensils-search-input.active .autocom-box
{
    background-color: #ED6454;
}


.search-input.active 
{
    /* background-color: #3282F7; */
    color: #fff;
    width: 600px;
}

.autocom-box li
{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .autocom-box li
{
    display: block;
}

.autocom-box li:hover 
{
    background: rgba(255, 255, 255, .2);
}

.search-input .icon
{
    transition: all .6s;
}
.search-input.active .icon
{
    transform: rotateX(180deg);
}