@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*
{
    font-family: 'Lato', sans-serif;
}

nav
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}
form
{
    position: relative;
}

.form-group input
{
    background-color: #E7E7E7;
    color: rgba(0, 0, 0, .25);
    border-radius: 5px;
    border: none;
    padding: 30px;
    font-weight: 400;
    font-size: 18px;
}

form .search-icon
{
    position: absolute;
    right: 14px;
    top: 17px;
    color: #000;
    font-size: 28px;
}

.card
{
    border: none;
    max-height: 500px;
}

.card-img-bg
{
    background-color: #C7BEBE;
    width: 100%;
    height: 178px;
    border-radius: 5px 5px 0 0;
}

.card small
{
    line-height: 1.1;
}

.card-body
{
    background-color: #E7E7E7;
    border-radius: 0 0 5px 5px;
}

.watch-icon
{
    position: absolute;
    right: 52px;
    top: 5px;
}

.search-by-tag::placeholder
{
    color: white;
}
